/*https://designsupply-web.com/media/suplog/1862/*/
@media screen and (min-width: 1200px) {
    .grid-container {
     -webkit-column-count: 4;
     -webkit-column-gap: 15px;
     -webkit-column-fill: auto;
     -moz-column-count: 4;
     -moz-column-gap: 15px;
     -moz-column-fill: balance !important;
     column-count: 4;
     column-gap: 15px;
     column-fill: auto;
    }
   }
   @media screen and (min-width: 993px) and (max-width: 1199px) {
    .grid-container {
     -webkit-column-count: 4;
     -webkit-column-gap: 15px;
     -webkit-column-fill: auto;
     -moz-column-count: 4;
     -moz-column-gap: 15px;
     -moz-column-fill: balance !important;
     column-count: 4;
     column-gap: 15px;
     column-fill: auto;
    }
   }
   @media screen and (min-width: 769px) and (max-width: 992px) {
    .grid-container {
     -webkit-column-count: 4;
     -webkit-column-gap: 15px;
     -webkit-column-fill: auto;
     -moz-column-count: 4;
     -moz-column-gap: 15px;
     -moz-column-fill: balance !important;
     column-count: 4;
     column-gap: 15px;
     column-fill: auto;
    }
   }
   @media screen and (min-width: 481px) and (max-width: 768px) {
    .grid-container {
     -webkit-column-count: 2;
     -webkit-column-gap: 15px;
     -webkit-column-fill: auto;
     -moz-column-count: 2;
     -moz-column-gap: 15px;
     -moz-column-fill: balance !important;
     column-count: 2;
     column-gap: 15px;
     column-fill: auto;
    }
   }
   .grid {
    position: relative;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    /* column-break-inside: avoid; */
    border-radius: 8px;
    background: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}
.close{
    z-index: 91;
    width: 30px;
    height: 30px;
    padding: 5px 0 0 0;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size:14px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
   /* Google Chorome BugFix */
   @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .grid {
     display: block !important;
    }
   }